:root {
   font-size: 10px;
}

* {
   margin: 0px;
   padding: 0px;

   font-family: "Huninn", sans-serif;
   font-weight: 400;
   font-style: normal;
}

html {
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;

   color: black;
}

body {
   height: 100%;
   width: 100%;
   margin: 0px;
}

main {
   width: 100%;
   height: 100%;
}

/* FONTS */
.huninn-regular {
  font-family: "Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BASE CLASSES */

.aspect-square {
   aspect-ratio: 1/1;
}

.flex {
   display: flex;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.text-center {
   text-align: center;
}

.center {
   justify-content: center;
   align-items: center;
}


.user-page-body {
   width: 100%;
   height: 100%;

   background-image: url(./assets/imgs/Background.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.user-sidebar {
   box-sizing: border-box;
   height: 100%;
   width: clamp(40rem, 35%, 63.5rem);
   padding: 20px;

   justify-content: start;
   align-items: center;

   background-color: #030317;
   opacity: 0.75;
   box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.568);
}

.user-profile-icon {
   background-color: white;
   width: 10rem;
   height: 10rem;
   border-radius: 100%;

   background-image: url(./assets/imgs/profile-icon.jpg);
   background-position-y: center;
   background-position-x: center;
   background-size: cover;
}

.user-name-label {
   color: white;
   font-size: clamp(3rem, 2vw, 5rem);
   margin: 2rem 0px;
}

.user-about-label {
   color: white;
   font-size: 2rem;
   text-align: center;
   height: min-content;
   width: 80%;

   /*overflow: scroll;*/
}

.linkedbranch-logo {
   margin-top: auto;
   justify-content: end;
}

.linkedbranch-logo .logo{
   height: 3rem;
   width: 3rem;
   
   mask-image: url(./assets/imgs/Linked\ Branch\ Logo.svg);
   mask-repeat: no-repeat;
   mask-position: center;
   mask-size: contain;

   background-color: white;
}

.linkedbranch-logo p {
   color: white;
   font-size: 2rem;
}

.user-main-content {
   height: 100%;
   width: 100%;
   box-sizing: border-box;
}

.user-main-content section {
   width: 100%;
   height: 95%;
}

.linked-button-list {
   box-sizing: border-box;
   align-items: center;
   overflow-y: auto;
   overflow-x: visible;

   height: 100%;
   width: auto;
   max-width: 100%;
   padding: 0 2rem;
   gap: 2rem;
}

.linked-button {
   cursor: pointer;
   background-color: #843A2D;
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.383);
   border: none;
   border-radius: 10px;
   padding: 1.5rem clamp(20rem, 20vw, 40rem);

   transition: scale 0.1s ease-in-out;
   transition: border-radius 0.1s ease-in-out;
   transition: filter 0.2 ease-in-out;
}

.linked-button:hover {
   scale: 1.02;
   border-radius: 30px;
   filter: brightness(0.9);
}

.linked-button p {
   color: white;
   font-size: 3rem;
}

.wavy {
  mask: 
    radial-gradient(34.99px at calc(100% - 48px) 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/100% 120px,
    radial-gradient(34.99px at calc(100% + 18px) 50%,#0000 99%,#000 101%) calc(100% - 30px) 50%/100% 120px repeat-y;
}