:root {
   font-size: 10px;

   --highlightColor: #843A2D;
   --userBackgroundColor: #030317;
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;

   font-family: "Huninn", sans-serif;
   font-weight: 400;
   font-style: normal;
}

html {
   min-height: 100vh;
   width: 100%;
   margin: 0px;
   padding: 0px;

   color: black;
}

body {
   min-height: 100vh;
   width: 100%;
   margin: 0px;

   background-image: url(/assets/imgs/Background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

main {
   width: 100%;
   min-height: 100vh;
}

/* FONTS */
.huninn-regular {
  font-family: "Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BASE CLASSES */

.aspect-square {
   aspect-ratio: 1/1;
}

.flex {
   display: flex;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.text-center {
   text-align: center;
}

.justify-center {
   justify-content: center;
}

.align-center {
   align-items: center;
}

.center {
   justify-content: center;
   align-items: center;
}

.user-content {
   min-height: 100%;
   width: 55rem;
   margin-top: 5rem;

   justify-content: start;
   align-items: center;

   background-color: #030317a9;
   box-shadow: 20px 0px 30px rgba(0, 0, 0, 0.568);
   border-radius: 2rem 2rem 0 0;
}

.profile-header {
   padding-top: 8rem;
}

.user-profile-icon {
   background-color: white;
   width: 10rem;
   height: 10rem;
   border-radius: 100%;
   margin: 2rem 0 1rem 0;

   background-image: url(/assets/imgs/profile-icon.jpg);
   background-position-y: center;
   background-position-x: center;
   background-size: cover;
}

.user-name-label {
   color: white;
   font-size: 3rem;
   font-weight: bold;
}

.user-about-label {
   color: white;
   font-size: 2rem;
   text-align: center;
   height: min-content;
   width: 75%;
   margin-top: 0.25rem;

   word-break: break-word;
   /*overflow: scroll;*/
}

.social-icons-container {
   flex-wrap: wrap;
   padding: 2rem 0 3rem 0;
   width: 100%;
   gap: clamp(0.5rem, 4vw, 1rem);
}

.social-icons-container img {
   aspect-ratio: 1/1;
   width: 4rem;
   height: auto;
   filter: brightness(0) invert(1);
}

.linkedbranch-logo {
   margin-top: auto;
   justify-content: end;
}

.linkedbranch-logo .logo{
   height: 3rem;
   width: 3rem;
   
   mask-image: url(/assets/imgs/Linked\ Branch\ Logo.svg);
   mask-repeat: no-repeat;
   mask-position: center;
   mask-size: contain;

   background-color: white;
}

.linkedbranch-logo p {
   color: white;
   font-size: 2rem;
}

.linked-button-list {
   display: flex;
   flex-grow: 1;
   box-sizing: border-box;

   width: 100%;

   padding: 0 3rem 3rem 3rem;
   gap: 1.5rem;
   
}

.linked-button {
   border: none;
   width: 100%;
   height: 6rem;
   border-radius: 1.5rem;


   background-color: var(--highlightColor);
}

.linked-button p {
   color: white;
   font-size: 2rem;
}

@media(max-width: 575px) {

   .user-content {
      border-radius: 0;
      width: 100%;
      margin-top: 0;
   }

   /* .user-profile-icon {
      width: 8rem;
      height: 8rem;
   }

   .user-name-label {
      margin: 1rem;
   }

   .social-icons-container {
      gap: 0.2rem;
      width: 95%;
      margin: 1rem 0;
   }

   .social-icons-container img {
      width: 3rem;
   }

   .linked-button p {
      font-size: 2rem;
   } */
}